body {
  margin: 0;
}

[src=""] {
  display: none;
}

#monolith-game {
  position: absolute;
  top: 50%;
  left: 50%;
}

.personal-links p {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
}

.personal-links {
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5vmin;
}

.personal-links i:hover {
  color: rgb(200,200,200);
}

.personal-links i {
  color: black;
  font-size: 6vmin;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

.monolith-background {
  position: absolute;
  width: 100%; 
  height: 100%;
  z-index: 1; 
  background: no-repeat url("./assets/map/MonolithMap_wide.png");
}

[class*="instructions-window"] {
  position: absolute;
}

[class*="-hide"] {
  display: none;
}

.x-button:hover {
  cursor: pointer;
  background: rgb(83, 83, 83);
}

.x-button {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 42px;
  line-height: 38px;
  text-align: center;
  font-weight: 500;
  color: white;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.instructions-window-show {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.story-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  font-size: 3vmin;
  color: white;
}

.icon:before {
  font-family: 'Font Awesome 5 Free';
}